.pagination{
    display:flex;
    justify-content: center;
    flex-direction: row;
    margin: 0.5rem 0;
    padding: 0;
    overflow: hidden;
}

.page-list{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    list-style-type:none;
    gap: 0.5rem;
    padding: 0;
    font-weight: 500;
    font-size: 1rem;
 
}

.page-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color:#e49f6a;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.page-list-item.active,
.page-list-item:hover {
    background: #95470b;
}

.page-number {
    color:blanchedalmond;
    text-decoration: none;
    cursor: pointer;
    padding: 0 0 3px 0;
}

.chevron{
    font-size: 0.2rem;
}

.dots {
    color: #de6910;
    pointer-events: none;
    margin: 0 4px;
    height: 34px;
    line-height: 34px;
    display: inline-block;
}


