.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border-radius: 9999px;
  cursor: pointer;
}

.btn.load-pokemons {
  height: 3rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 1rem;
  margin: 1rem 0;
  background-color: #fff;
  border: 4px solid #000;  
}

.btn.pokemon-card-add-to-favorites{
  height: 1.5rem;
  font-size: 0.7rem;
  padding: 0.3rem 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
}

.btn.pokemon-card-add-to-favorites.selected{
  color:blanchedalmond;
  background-color: rgba(248, 2, 2, 0.548);
}

.btn.change-viewed-list{
  height: 2rem;
  font-size: 1rem;
  padding: 1rem;
  margin: 1rem 0;
  color:#375853;
  background-color: #aff3f3;
  border-radius: 0.3rem;
  border: 1px solid #efefef;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
}

